
body {
    /* font-family: Arial, sans-serif; FONT IS IN NAVBAR */ 
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    margin-top: 70px; /*Exact size of navbar*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .profile-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .profile-header h1 {
    font-size: 2rem;
    color: #333;
    margin: 0.5rem 0;
  }
  
  .profile-header p {
    font-size: 1.2rem;
    color: #777;
  }
  
  .profile-details {
    text-align: left;
    margin-top: 2rem;
  }
  
  .profile-details h2 {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .profile-details p {
    color: #555;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  /*CONTACT*******************************************************************************************************************/

  .contact-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
  }