@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    /* margin-top: 70px; Exact size of navbar */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
/*HOME************************************************************/

.home-background {
  width: 100%; /* Full width */
  height: 100vh; /* Full height of the viewport */
  background-image: url("/Images/bground.jpg");
  background-size: cover;
  background-position: center;
}

.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  padding-left: 30vh;
}

.home-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 20px;
  color: black;
}

.button-62 {
  background: linear-gradient(to bottom right, #6EACDA, #03346E);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), 
              -.125rem -.125rem 1rem rgba(110, 172, 218, 0.5), 
              .125rem .125rem 1rem rgba(110, 172, 218, 0.5);
}


/*PROFILE********************************************************/

  .profile-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .profile-header h1 {
    font-size: 2rem;
    color: #333;
    margin: 0.5rem 0;
  }
  
  .profile-header p {
    font-size: 1.2rem;
    color: #777;
  }
  
  .profile-details {
    text-align: left;
    margin-top: 2rem;
  }
  
  .profile-details h2 {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .profile-details p {
    color: #555;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  /*CONTACT*******************************************************************************************************************/

  .contact-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
