@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6969;
  width: 100%;

  background: #021526;
  /* background: #03346E; */
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: 10px;
}
.nav-links li a:hover{
  background: #03346E;
}
.nav-links .mobile-item{
  display: none;
}


.nav-links .drop-menu{
  position: absolute;
  background: #3D52A0;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

nav input{
  display: none;
}

.wrapper .name{
  color: white;
  margin:  0px;
  width: 100%;
}

.name a {
  text-decoration: none;
  color: white;
}

/*FOOTER****************************************************************/